*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
  }
  html {
    scroll-behavior: smooth;
  }
  
  body {
  width: 100vw;
  height: 300vh;
  overflow-x: hidden;
  background-image: url("ressources/Maquette-index-html.png");
  font-family: 'Montserrat', sans-serif;
  }
  
  
  h1{
    font-size: 5rem;
    line-height:1.2em;
    letter-spacing: 1.1rem;
    color:white;
    text-align: left;
    
  
  }
  
  h2{
  
   font-size: 5rem;
  }
  
  h3{
    font-size: 4rem;
  }
  
  h4{
    font-size: 3rem;
  }
  
  p{
  
    font-size: 3rem;
  }

  /* SIDE NAVBAR SIDE NAVBAR SIDE NAVBAR SIDE NAVBAR SIDE NAVBAR SIDE NAVBAR SIDE NAVBAR SIDE NAVBAR SIDE NAVBAR SIDE NAVBAR SIDE NAVBAR SIDE NAVBAR*/
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}





/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    height: 300vh;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
  
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li{
    height: 25vh;
}
#sidebar ul li a {
    height: 25vh;
    text-align: center;
    
    padding: 10px;
    font-size: 3rem;
    display: block;
    
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}





a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);

    padding: 40px;
    height: 300vh;
    transition: all 0.3s;
    position: fixed;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}


.emergency-box{
    position: absolute;
    top:0;
  
  }
  
  
   .emergency-logo{
     display: flex;
     flex-direction: column;
     align-items: flex-end;
   }
  
   .emergency-logo a:hover{
    transform: scale(1.1) ;
    transition: 0.3s ease ;
    
    
   }
  
  
   #a_masquer{
     display: none;
     position: absolute;
     top:50%;
     left:50%;
     transform: translate(-50%,-50%);
     width:25vw;
     height:14vw;
     text-align: center;
     background: red;
     color: white;
     border-radius: 10px;
    
   }


/*span{
  font-size: 1.9rem;
  font-weight: bold;
}*/


#svg-tools{
position: absolute;
top: -5%;
left:10%;
transform: translateZ(-1px) scale(1.5);
}



/* ANIMATION SVG ANIMATION SVG ANIMATION SVG ANIMATION SVG ANIMATION SVG ANIMATION SVG ANIMATION SVG ANIMATION SVG ANIMATION SVG*/
 #scie{

   
  animation:scie 15s ease-out  ;
  transform-box: fill-box;
}


@keyframes scie{
  from{
      
      transform: translate(1000px,-1000px);

  }
  to{
     
      transform: translate(0,0);

  }
}

#piedacoulisse{

 
  animation:piedacoulisse 15s ease-out  ;
  transform-box: fill-box;
}


@keyframes piedacoulisse{
  from{
      
      transform: translate(1000px,0px);

  }
  to{
     
      transform: translate(0,0);

  }
}
#clefamolette1{

 
  animation:clefamolette1 15s ease-out  ;
  transform-box: fill-box;
}


@keyframes clefamolette1{
  from{
      
      transform: translate(1000px,1000px);

  }
  to{
     
      transform: translate(0,0);

  }
}
#clefronde{

 
  animation:clefronde 15s ease-out  ;
  transform-box: fill-box;
}


@keyframes clefronde{
  from{
      
      transform: translate(0px,1000px);

  }
  to{
     
      transform: translate(0,0);

  }
}
#clefcarre{

 
  animation:clefcarre 15s ease-out  ;
  transform-box: fill-box;
}


@keyframes clefcarre{
  from{
      
      transform: translate(-1000px,1000px);

  }
  to{
     
      transform: translate(0,0);

  }
}
#tournevis1{

 
  animation:tournevis1 15s ease-out  ;
  transform-box: fill-box;
}


@keyframes tournevis1{
  from{
      
      transform: translate(-1000px,0px);

  }
  to{
     
      transform: translate(0,0);

  }
}

#clefamolette{

 
  animation:clefamolette 15s ease-out  ;
  transform-box: fill-box;
}


@keyframes clefamolette{
  from{
      
      transform: translate(-1000px,-1000px);

  }
  to{
     
      transform: translate(0,0);

  }
}

#tournevis2{

 
  animation:tournevis2 15s ease-out  ;
  transform-box: fill-box;
}


@keyframes tournevis2{
  from{
      
      transform: translate(0px,-1000px);

  }
  to{
     
      transform: translate(0,0);

  }
}

#ellipse1{
  animation: ellipse ease  25s  ;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes ellipse{
  from{
      transform: rotateZ(0deg);
  }
  to{
      transform: rotateZ(360deg);
  }
}


#fond{
  animation: fond 5s ease infinite;
}

@keyframes fond{
0%{
  opacity: 0;
}
50%{
  opacity: 1;
}
100%{
  opacity: 0;
}
}

/* SECTION1 SECTION1 SECTION1 SECTION1 SECTION1 SECTION1 SECTION1 SECTION1 SECTION1 SECTION1 SECTION1 SECTION1 SECTION1*/

.pip1

  {
    position: relative;
    display: block;
}
 .pip2
 {
  left: 60%;
  top: 5%;
  position: absolute;
 }

 .pip3
 {
  left: -70%;
  top: 5%;
  position: absolute;
 }

/* ------------------------------------------------------------------------------------------------------------------------------------
SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES
---------------------------------------------------------------------------------------------------------------------------------------*/
 .card {
  box-shadow: 4px 3px 5px -2px rgba(0,0,0,0.36);
  border-radius: 10px !important;
 }
 img{
  border-radius: 10px !important;
 }

 button{
  font-size: 2rem;  
 }

 span{
  font-size: 1.9rem;
  font-weight: bold;
}


 .container2{
   position: absolute;
   top:15%;
 }


/*------------------------------------------------------------------------------------------------------------------------------------------------------------
 NOTICE NOTICE NOTICE NOTICE NOTICE NOTICE NOTICE NOTICE NOTICE NOTICE NOTICE NOTICE NOTICE NOTICE NOTICE NOTICE NOTICE NOTICE NOTICE NOTICE NOTICE NOTICE
 -------------------------------------------------------------------------------------------------------------------------------------------------------------*/
 #you-us img{
  box-shadow: 4px 3px 5px -2px rgba(0,0,0,0.36);
 }
 #part2 img{
  box-shadow: 4px 3px 5px -2px rgba(0,0,0,0.36);
 }
 #part3 img{
  box-shadow: 4px 3px 5px -2px rgba(0,0,0,0.36);
 }

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------
    MEDIAQUERIES MEDIAQUERIES MEDIAQUERIES MEDIAQUERIES MEDIAQUERIES MEDIAQUERIES MEDIAQUERIES MEDIAQUERIES MEDIAQUERIES MEDIAQUERIES MEDIAQUERIES MEDIAQUERIES
--------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}